<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <form method="POST" action="/Indtrans">
    <select name="Language1">
    	<option value = "mar" >Marathi</option>
		<option value = "hin" >Hindi</option>
    	<option value = "tam" >Tamil</option>
    	<option value = "tel" >Telugu</option>
    	<option value = "guj" >Gujarati</option>
    	<option value = "ben" >Bengali</option>
		<option value = "mal" >Malayalam</option>
		<option value = "kan" >Kannada</option>
		<option value = "raj" >Rajasthani</option>
		<option value = "odi" >Odia</option>
		<option value = "bod" >Bodo</option>
		<option value = "eng" >English</option>
    </select>
    <select name="Language2">
    	<option value = "mar" >Marathi</option>
		<option value = "hin" >Hindi</option>
    	<option value = "tam" >Tamil</option>
    	<option value = "tel" >Telugu</option>
    	<option value = "guj" >Gujarati</option>
    	<option value = "ben" >Bengali</option>
		<option value = "mal" >Malayalam</option>
		<option value = "kan" >Kannada</option>
		<option value = "raj" >Rajasthani</option>
		<option value = "odi" >Odia</option>
		<option value = "bod" >Bodo</option>
		<option value = "eng" >English</option>
    </select>
    <input type="submit" value="Submit">
  </form>
</body>
</html>