<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <form method="POST" action="/Inttrans">
    <select name="Language1">
        <option value = "eng" >English</option>
    	<option value = "ger" >German</option>
		<option value = "fre" >French</option>
    	<option value = "jap" >Japanese</option>
    	<option value = "kor" >Korean</option>
    	<option value = "gre" >Greek</option>
    	<option value = "chi" >Chinese</option>
		<option value = "ita" >Italian</option>
		<option value = "lat" >Latin</option>
		<option value = "rus" >Russia</option>
		<option value = "spa" >Spanish</option>
		<option value = "ara" >Arabic</option>
		<option value = "por" >Portuguese</option>
        <option value = "urd" >Urdu</option>
    </select>
    <select name="Language2">
    	<option value = "eng" >English</option>
        <option value = "ger" >German</option>
        <option value = "fre" >French</option>
        <option value = "jap" >Japanese</option>
        <option value = "kor" >Korean</option>
        <option value = "gre" >Greek</option>
        <option value = "chi" >Chinese</option>
        <option value = "ita" >Italian</option>
        <option value = "lat" >Latin</option>
        <option value = "rus" >Russia</option>
        <option value = "spa" >Spanish</option>
        <option value = "ara" >Arabic</option>
        <option value = "por" >Portuguese</option>
        <option value = "urd" >Urdu</option>
    </select>
    <input type="submit" value="Submit">
  </form>
</body>
</html>